.container{
    
    width: 100%;
    background-color: rgba(189, 182, 182, 0.453);
}
.board{
    height: inherit;
    margin: 5%;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}
.task{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
}